* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: hsl(217, 54%, 11%);
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
}
.container {
  background-color: hsl(216deg 50% 16%);
  border: 2px solid hsl(216deg 50% 16%);
  border-radius: 10px;
  padding: 16px;
  width: 280px;
}
.img img {
  width: 245px;
  height: 245px;
  border-radius: 10px;
}
.main-section {
  margin: 5px 0px;
  /* border: 2px solid red; */
}
.main-section h3 {
  margin: 8px 0px;
  color: hsl(0, 0%, 100%);
}
.main-section p {
  color: hsl(215, 32%, 27%);
  font-size: 18px;
}
.price {
  /* border: 2px solid blue; */
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(178, 100%, 50%);
}
.price span {
  color: hsl(215, 51%, 70%);
}
.creater {
  margin: 10px 0px 0px 0px;
  /* border: 2px solid brown; */
}
.creater img {
  width: 40px;
  height: 40px;
}
.creater p {
  position: relative;
  top: -30px;
  left: 60px;
  color: hsl(215, 51%, 70%);
}
.creater span {
  color: hsl(0, 0%, 100%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
